$(document).ready(function(){
const img  = document.getElementById('id_picture')
var url =""
img.addEventListener('change',()=>{
    url = URL.createObjectURL(img.files[0])
    document.getElementById('show_img').innerHTML = `<img  src="${url}" width= 100>`
    console.log(url)
})

{% comment %} Inserting Student data {% endcomment %}
$('#save').click('submit',e=>{
    e.preventDefault();
    data = {}
    var form_data = $('form').serializeArray()
    
    $.each(form_data,(index,value)=>{
        data[value['name']] = value['value']
    })
    console.log(data)
    console.log()
    const df = new FormData();
    df.append('csrfmiddlewaretoken',data['csrfmiddlewaretoken'])
    df.append('address',data['address'])
    df.append('field',data['field'])
    df.append('full_name',data['full_name'])
    df.append('phone_number',data['phone_number'])
    df.append('picture',img.files[0])
    df.append('student_id',$('#student_id').val())

    $.ajax({
        type:'POST',
        url: {% url 'save' %},
        enctype: 'multipart/form',
        data:df,
        success:function(data){
            var error_list_data = {}
            console.log(data.error_name)
            $.each(data.error_name,(k,v)=>{
                error_list_data[v] = data.error_value[k]
            })

            if (error_list_data['full_name']){
                $('#full_name_error').html(error_list_data['full_name'])
            }else{
                $('#full_name_error').html('')

            }

            if (error_list_data['address']){
                $('#address_error').html(error_list_data['address'])
            }else{
                $('#address_error').html('')
            }

            if (error_list_data['phone_number']){
                $('#phone_number_error').html(error_list_data['phone_number'])
            }else{
                $('#phone_number_error').html('')
            }

            if (error_list_data['picture']){
                $('#picture_error').html(error_list_data['picture'])
            }else{
                $('#picture_error').html('')
            }
            if (data.process == 'done'){
                var txt = `<div class="alert alert-info alert-dismissible fade show" role="alert">
                Student Data is saved successfully!!</div>`
                $('#data-success').delay(5000).fadeOut('slow');
                $('#data-success').html(txt)
                $('#form_data')[0].reset();
                $('#show_img').html('')
                std = data.all_data
                output = ""
                for(i=0;i<std.length;i++){
                    output+= `<tr>
                <th scope="row">${std[i].id}</th>
                <td>${std[i].full_name}</td>
                <td>${std[i].address}</td>
                <td>${std[i].phone_number}</td>
                <td>${std[i].field}</td>
                <td>
                <input class="btn-sm btn-info text-white edit-btn"  type="button" data-sid ="${std[i].id}" value="Edit">
                <input class="btn-sm btn-danger text-white del-btn"  type="button" data-sid ="${std[i].id}" value="Delete">
                </td>
                </tr>`
                }
                $('#table_body').html(output)
                {% comment %} clearning the student_id {% endcomment %}
                $('#student_id').val("")
            }     
            
        },
        error:function(error){
            console.log("error")
        },
        cache:false,
        contentType: false,
        processData:false
    })
})


{% comment %} Deleting Student Record {% endcomment %}
$("tbody").on("click",".del-btn",function(){
    console.log("clicked")
    click = this;
    var id = $(click).attr("data-sid");
    console.log(id)
    data = {'id':id}
    $.ajax({
        method:"GET",
        url: {% url 'del' %},
        data: data,
        success:(data)=>{
            console.log("success",data)
            if (data.result == "success"){
            var txt = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
            Student Data is deleted successfully!!</div>`
            $(click).closest("tr").fadeOut();
            $('#data-success').delay(5000).fadeOut('slow');
                $('#data-success').html(txt)

            }else{
            var txt = `<div class="alert alert-warning alert-dismissible fade show" role="alert">
            Student Data is cannot be deleted!!</div>`

            $('#data-success').delay(5000).fadeOut('slow');
                $('#data-success').html(txt)

            }
            
        },

    })
})

{% comment %} Edit Student Record {% endcomment %}
$("tbody").on("click",".edit-btn",function(){
    console.log("clicked")
    click = this;
    var id = $(click).attr("data-sid");
    console.log(id)
    var csrf = $("input[name=csrfmiddlewaretoken]").val()
    console.log(csrf)
    data = {id:id,csrfmiddlewaretoken:csrf}
    $.ajax({
        method:"POST",
        url: {% url 'edit' %},
        data: data,
        success:(data)=>{
            console.log(data)
            if (data.result == 1){
                console.log(data.full_name)
                console.log(data.img)
                var src = "media/"+data.img
                console.log(src)
                var img = `<img src=${src} width=100>`
                $("#show_img").html(img)
                $("#id_full_name").val(data.full_name);
                $("#id_address").val(data.address);
                $("#id_phone_number").val(data.phone_number);
                $("#id_field").val(data.field);
                $("#student_id").val(data.id)

            }else{
          

            }
            
        },

    })
})


})