{% extends 'core.html' %}
{% load static %}
{% block title %}CRUD{% endblock title %}
{% block top %}
<div class="container">
<h3 class="text-center bg-success p-3 mt-1 text-white">Django CRUD (Create, Retrieve, Update, Delete) Function Based Views</h5>
<div class="row">
<div class="col-md-5">
<h3 class="bg-info p-2 text-center mt-3">Student Form</h3>
<div id="data-success"></div>
{% include 'html/show_form.html' %}
{% for er in form.non_field_errors  %}
{{er}}
{% endfor %}
</div>


<div class="col-7">
<h3 class="bg-info p-2 text-center mt-3">Student Details</h3>
<div class="overflow-scroll" style="height:500px;width:100%">
{% include 'html/table.html' %}
</div>
</div>



</div>
</div>
{% endblock top %}


{% comment %} JavaScript Block {% endcomment %}
{% block js %}

{% include 'html/ajax_.html' %}

 {% endblock js %}

