<form id="form_data" action="" method="post" novalidate enctype="multipart/form-data">
{% csrf_token %}
<input type="hidden" id="student_id" name="student_id" value="">
{% comment %} Full Name {% endcomment %}
<h5>{{form.full_name.label}}</h5>
{{form.full_name}}
<small class="text-muted">{{form.full_name.help_text}}</small><br>
<span id = "full_name_error" class="fst-italic text-danger">{{form.full_name.errors|striptags}}</span>
<br>


{% comment %} Address {% endcomment %}
<h5>{{form.address.label}}</h5>
{{form.address}}
<span id="address_error" class="fst-italic text-danger">{{form.address.errors|striptags}}</span>

{% comment %} Phone Number {% endcomment %}
<h5>{{form.phone_number.label}}</h5>
{{form.phone_number}}
<small class="text-muted">{{form.phone_number.help_text}}</small><br>
<span id="phone_number_error" class="fst-italic text-danger">{{form.phone_number.errors|striptags}}</span>

{% comment %} Choice {% endcomment %}
<h5>{{form.field.label}}</h5>
{{form.field}}

{% comment %} Picture {% endcomment %}

<h5>{{form.picture.label}}</h5>
{{form.picture}} <br>
<span id="picture_error" class="fst-italic text-danger">{{form.picture.errors|striptags}}</span>

<br>
<div id="show_img"></div>
<input class="btn btn-success mt-3" id="save" type="submit" value="Save">
</form>